* {
    outline: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*header*/
.header--block {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 60px;
    margin-bottom: 8px;
    padding-top: 8px;
    border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
    background-color: #fff;
    z-index: 1000;
}

.header--block--logotype {
    width: 150px;
    height: 35px;
}

.logo {
    width: inherit;
    height: inherit;
}

.header--block--icons {
    width: 351px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header--block--icons-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    cursor: pointer;
    text-decoration: none;
    margin: 0 8px;
    color: black;
    padding: 0 5px;
    text-align: center;
}

.header--block--icons-box:hover {
    border-bottom: 3px solid rgba(70, 163, 88, 1);
    font-weight: 600;
}

.header--block--login_logout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 190px;
}

.search-icon {
    width: 20px;
    height: 20px;
}

.basket-icon {
    width: 29px;
    height: 24px;
}

.login-icon {
    width: 100px;
    height: 35px;
}

.search-icon:hover,
.basket-icon:hover,
.login-icon:hover {
    opacity: 0.8;
}

/*home-page*/
.wrapper-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    padding-top: 90px;
}

.welcome-box {
    height: 450px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.welcome-box-info {
    width: 540px;
    color: rgba(61, 61, 61, 1);
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

h1 {
    font-size: 65px;
    font-weight: 900;
}

h1 span {
    white-space: nowrap;
}

.green-text {
    color: green;
}

.welcome {
    font-weight: 500;
}

.grey-text {
    color: rgba(114, 114, 114, 1);
    margin-bottom: 30px;
}

.btn {
    width: 140px;
    height: 40px;
    background: rgba(70, 163, 88, 1);
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn:hover {
    background: rgba(70, 163, 110, 1);
}

.welcome-box-flower {
    width: 518px;
    position: relative;
}

.big_flower {
    position: absolute;
}

.small_flower {
    position: absolute;
    bottom: 25px;
    left: 55px;
}

.product-category-box {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.category-box {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.category-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
}

.category-box-box {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
    padding-left: 10px;
}

.size-box {
    display: flex;
    flex-direction: column;
}

.product-block {
    display: flex;
    flex-wrap: wrap;
    width: 850px;
    justify-content: space-between;
}

.product-box {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 350px;
    justify-content: space-between;
}

.price {
    color: rgba(70, 163, 88, 1);
    font-size: 18px;
}



