<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>Home</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="wrapper">
    <div class="wrapper-box">
        <span class="home-shop"><span class="bold-text">Home</span> / Shop</span>
        <div class="welcome-box">
            <div class="product-view-images">
                <img th:src="@{/images?file=__${product.getPhoto()}__}">
            </div>
            <div class="product-view-images">
                <h2 th:text="${product.getName()}"></h2>
                <span class="price" th:text="'$'+${product.getPrice()}"></span>
                <span th:text="${averageScore}"></span>
                <span th:text="${reviewQuantity} + ' Customer Review'"></span>
                <span th:text="${product.getSize()}"></span>
                <form th:action="'/product_view/' + ${product.getId()}" method="post">
                    <input name="quantity" th:value="1" th:text="1" disabled>
                    <input type="hidden" name="product" th:value="${product.id}">
                    <button name="action" value="buy_now" class="btn" type="submit">BUY NOW</button>
                    <button name="action" value="add_to_cart" class="btn" type="submit">ADD TO CART</button>
                </form>
                <span th:text="${product.getCategory().getName()}"></span>
                <span th:text="${product.getShort_desc()}"></span>
                <p th:text="${product.getDescription()}"></p>
            </div>
            <div th:each="review : ${product.getReviews()}">
                <span th:text="review"></span>
            </div>
            <div class="related-products">
                <div th:each="product : ${relatedProducts}" class="product-box">
                    <img th:src="@{/images?file=__${product.getPhoto()}__}">
                    <div class="size-box">
                        <a th:href="'/product_view/' + ${product.getId()}" th:text="${product.name}"></a>
                        <span th:text="'$'+${product.price}" class="price"></span>
                    </div>
                </div>
                <div th:if="${relatedProducts.isEmpty()}">
                    <span>Empty</span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
