<div th:fragment="header" class="header" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="wrapper">
        <div class="header--block">
            <a class="header--block--logotype" href="/products">
                <img src="/images/logo.png" alt="logo" class="logo">
            </a>
            <div class="header--block--icons">
                <a class="header--block--icons-box" href="/products">
                    <span>Home</span>
                </a>
                <a class="header--block--icons-box" href="/product_view/1">
                    <span>Shop</span>
                </a>
                <a class="header--block--icons-box" href="#">
                    <span>Plant Care</span>
                </a>
                <a class="header--block--icons-box" href="#">
                    <span>Blogs</span>
                </a>
                <a class="header--block--icons-box" href="/add_product">
                    <span>Add product</span>
                </a>
                <a class="header--block--icons-box" href="/add_category">
                    <span>Add category</span>
                </a>
            </div>
            <div class="header--block--login_logout">
                <a href="#">
                    <img src="/images/search.png" alt="search" class="search-icon">
                </a>
                <a href="#">
                    <img src="/images/basket.png" alt="basket" class="basket-icon">
                </a>
                <a href="#">
                    <img src="/images/login.png" alt="login" class="login-icon">
                </a>
            </div>
        </div>
    </div>
</div>
